.notification-container {
  height: 50px;
  width: 250px;
  border-radius: 4px;
  background: green;
  color: white;

  animation-name: notification;
  animation-duration: 1s;
}

.notification-content {
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.notification-close {
  height: 20px;
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
}

@keyframes notification {
  0% {
    transform: translate(100%);
  }
  100% {
    transform: translate(0%);
  }
}

.success {
  background-color: rgb(106, 162, 23);
}
.error {
  background-color: red;
}
.warning {
  background-color: orange;
}
.notification-wrapper {
  position: fixed;
  top: 0.5rem;
  right: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
